
<div>
  <p><span>@Question</span></p>
</div>

<div class="float-right" role="toolbar" aria-label="buttons">
  <div class="btn-group" role="group" aria-label="yes">
        <button type="button" class="btn btn-primary" onclick=@(() => this.SetResponseAsync(true))>Yes</button>
  </div>
  <div class="btn-group" role="group" aria-label="no">
        <button type="button" class="btn btn-secondary" onclick=@(() => this.SetResponseAsync(false))>No</button>
  </div>
</div>




@code {

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = null!;

    /// <summary>
    /// Gets or sets the text.
    /// </summary>
    [Parameter]
    public string Question { get; set; } = string.Empty;
    
    private async Task SetResponseAsync(bool yes) {
      await this.BlazoredModal.CloseAsync(ModalResult.Ok(yes));
    }
}
