form input {
    @extend .form-control;
}

.invalid .valid {
    @extend .form-control;
}

.invalid.modified {
    @extend .is-invalid;
}

.valid.modified {
    @extend .is-valid;
    @extend .was-validated;
    @extend .form-control:valid;
}

.validation-message {
    @extend .invalid-feedback;
}

// own style:
.primary-button {
    @extend .btn;
    @extend .btn-primary;
}

form > div {
    @extend .form-group;
}

form > div > div {
    @extend .input-group;
    @extend .mb-3;
}

form > div > div > div:first-of-type {
    @extend .input-group-prepend;
}

form > div > div > div:first-of-type > span {
    @extend .input-group-text;
}

form > div > div > input {
    @extend .input-group-append;
}

.blazored-modal-content {
    max-height: 700px;
    overflow-y: auto;
    padding-right: 10px;
}