form input {
    @extend .form-control;
}

.invalid .valid {
    @extend .form-control;
}

.invalid.modified {
    @extend .is-invalid;
}

.valid.modified {
    @extend .is-valid;
    @extend .was-validated;
    @extend .form-control, :valid;
}

.validation-message {
    @extend .invalid-feedback;
}

// own style:
.primary-button {
    @extend .btn;
    @extend .btn-primary;
}

form > div {
    @extend .form-group;
}

form > div > div {
    @extend .input-group;
    @extend .mb-3;
}

form > div > div > div:first-of-type {
    @extend .input-group-prepend;
}

form > div > div > div:first-of-type > span {
    @extend .input-group-text;
    height: 38px;
}

form > div > div > input {
    @extend .form-control;
}

.blazored-modal-content {
    max-height: 700px;
    overflow-y: auto;
    padding-right: 10px;
}

details > summary {
    list-style-type: 'ℹ';
}

details[open] > summary {
    list-style-type: 'x';
}

label > details {
    @extend .ml-2;
    position: absolute;
    display: inline;
    z-index: 0;
}

label > details[open] {
    z-index: 1;
    
}

label > details > div {
    @extend .alert;
    @extend .alert-secondary;
    /*@extend .rounded;
    @extend .border;
    @extend .border-primary;*/
    @extend .shadow;
    @extend .mr-3;
    /*    
    @extend .p-3;*/
}