@import "Common";

app > nav {
  @extend .rounded-bottom;
  @extend .shadow-lg;
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

app > nav > div:first-child {
    @extend .top-row;
    @extend .pl-4;
    @extend .navbar;
    @extend .navbar-dark;
    background-color: rgba(0,0,0,0.4);
}

@media (min-width: $widthThreshold) {
  app > nav {
    width: 250px;
    height: 100%;
    position: sticky;
    top: 0;
    min-height: inherit;
  }

    app > nav > div:first-child > button {
        display: none;
    }

    app > nav > .collapse {
        // Never collapse the app > navbar for wide screens
        // We use important, because specifing collapse class in the html element otherwise overwrites this here.
        display: block !important;
    }
}

app > nav .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

app > nav > div:first-child > a {
    @extend .navbar-brand;
    font-size: 1.1rem;
}

app > nav > div:first-child > button {
    @extend .navbar-toggler;
    background-color: rgba(255, 255, 255, 0.1);
}

app > nav > div:first-child > button > span {
    @extend .navbar-toggler-icon;
}

app > nav > div {
    @extend .navbar-collapse;
}

app > nav > div > ul {
    @extend .nav;
    @extend .flex-column;
}

app > nav > div > ul > li {
    @extend .nav-item;
    @extend .px-3;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

app > nav > div > ul > li:first-of-type {
    padding-top: 1rem;
}

app > nav > div > ul > li:last-of-type {
    padding-bottom: 1rem;
}

app > nav > div > ul > li > a {
    @extend .nav-link;
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

app > nav > div > ul > li > a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

app > nav > div > ul > li > a.hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
} 

app > nav > div > ul > li.dropdown > a {
    @extend .dropdown-toggle;
}

app > nav > div > ul > li.dropdown > div {
    @extend .dropdown-menu;
    display: block;
    position: relative;
    width: 100%;
}

app > nav > div > ul > li.dropdown > div > a {
    @extend .dropdown-item;
}