table {
    @extend .table;
    @extend .table-striped;
    @extend .table-hover;
}

tbody button {
    @extend .btn-sm;
}

th input {
    @extend .form-control;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
        transform: scale(0.999);
    }

    85% {
        opacity: 1;
        transform: scale(1.005);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@for $i from 1 through 50 {
    tr:nth-child(#{$i}) {
        $time: $i * 0.01 + unquote('');
        $delay: unquote( $time + 's');
        animation-delay: $delay;
        animation-name: FadeIn;
        animation-duration: .3s;
        opacity: 0;
        animation-fill-mode: forwards;
    }
}

.quickgrid tbody tr:has(td:empty) {
  display: none;
}