$widthThreshold: 768px;

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (min-width: $widthThreshold) {
  .page {
    flex-direction: row;
    min-height: 100vh;
  }
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: var(--omu-link);
}

mark {
    font-weight: bold;
    background: var(--omu-mark-bg);
    padding: 0;
}
