form input {
    @extend .form-control;
}

.invalid .valid {
    @extend .form-control;
}

.invalid.modified {
    @extend .is-invalid;
}

.valid.modified {
    @extend .is-valid;
    @extend .was-validated;
    @extend .form-control, :valid;
}

.validation-message {
    @extend .invalid-feedback;
}

// own style:
.primary-button {
    @extend .btn;
    @extend .btn-primary;
}

.cancel-button {
    @extend .btn;
    @extend .btn-secondary;
    @extend .ml-3;
}

form > div {
    @extend .form-group;
}

form > div > div {
    @extend .input-group;
    @extend .mb-3;
}

form > div > div > div:first-of-type {
    @extend .input-group-prepend;
}

form > div > div > div:first-of-type > span {
    @extend .input-group-text;
    height: 38px;
}

form > div > div > input {
    @extend .form-control;
}

.blazored-modal {
    max-height: 95%;
}

.blazored-modal-content {
    overflow-y: auto;
    padding-right: 10px;
}

.modal-edit-item {
    width: 80%;
    height: 80%;
}

details > summary {
    list-style-type: '🛈';
}

details[open] > summary {
    list-style-type: '✖';
}

label > details {
    @extend .ml-2;
    position: absolute;
    display: inline;
    z-index: 0;
}

label > details[open] {
    z-index: 1;
}

label > details > div {
    @extend .alert;
    @extend .alert-secondary;
    @extend .shadow;
    @extend .mr-3;
}

.blazored-typeahead:valid {
    padding: 0px 0px 0px 0px !important;
}

ul.socket {
    @extend .list-group;
    @extend .mb-3;
   
    //display: flex;
}

ul.socket > li {
    @extend .list-group-item;
    @extend .d-flex;
}

ul.socket > li > div {
    @extend .flex-fill;
    @extend .w-50;
}

ul.socket > li > div:last-of-type {
    @extend .ml-3;
}