@import "Common";

.map-host {
    position: relative;
    user-select: none;
    z-index: 0;
}

.map-host > img {
    image-rendering: pixelated;
    z-index: -1;
    top: 0px;
    left: 0px;
}

.map-object-select {
    position: relative;
    left: 800px;
    top: -25px;
    width: 40%;
}

.map-object-form {
    position: relative;
    left: 800px;
    width: 40%;
}

.map-object {
    position: absolute;
}

.gate-enter {
    @extend .map-object;
    background: turquoise;
    opacity: 0.8;
}

.gate-exit {
    @extend .map-object;
    background: blue;
    opacity: 0.8;
}

.spawn {
    @extend .map-object;
    background: indigo;
}

.spawn-area {
    @extend .spawn;
    opacity: 0.3;
    border-color: white;
    border-style: dotted;
}

.spawn-single {
    @extend .spawn;
    opacity: 0.66;
}

.focused-object {
    opacity: 1.0;
    border-color: white;
    border-style: solid;
    border-width: thin;
}

.resizers .resizer {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: indigo;
    border: 3px solid white;
    position: absolute;
    opacity: 1.0;
}

.resizers .resizer.top-left {
    left: -10px;
    top: -10px;
    cursor: nwse-resize; /*resizer cursor*/
}

.resizers .resizer.top-right {
    right: -10px;
    top: -10px;
    cursor: nesw-resize;
}

.resizers .resizer.bottom-left {
    left: -10px;
    bottom: -10px;
    cursor: nesw-resize;
}

.resizers .resizer.bottom-right {
    right: -10px;
    bottom: -10px;
    cursor: nwse-resize;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    position: absolute;
    width: 9px;
    height: 9px;
    left: -3px;
}

.east {
    // nothing
}

.southeast {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.south {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.southwest {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.west {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.northwest {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
}

.north {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

.northeast {
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
}
