.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar > nav {
  background-image: var(--omu-sidebar-gradient);
}

@media (min-width: 768px) {
  .sidebar > nav {
    width: 250px;
    min-height: 100%;
  }

    .sidebar > nav > div:first-child > button {
        display: none;
    }

  .sidebar > nav > .collapse {
    display: block !important;
  }
}

.sidebar .nav-link {
    color: var(--omu-nav-link);
    font-size: 0.9rem;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

.sidebar > nav .oi {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}

.sidebar > nav > div > ul > li.dropdown > div {
    display: none;
}

.sidebar > nav > div > ul > li.dropdown > div.show {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 0;
}

.sidebar > nav > div > ul > li.dropdown > a::after {
    transition: transform 0.3s ease;
}

.sidebar > nav > div > ul > li.dropdown.expanded > a::after {
    transform: rotate(180deg);
}

.culture-selector-icon {
    color: var(--omu-nav-link);
}

.culture-selector {
  display: flex;
  line-height: 3rem;
  align-items: center;
  padding-left: 1rem;
  padding-top: 1rem;
  position: relative;
}

  .culture-selector::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background: linear-gradient( 90deg, rgba(215, 215, 215, 0.1) 0%, rgba(215, 215, 215, 1) 50%, rgba(215, 215, 215, 0.1) 100% );
    pointer-events: none;
  }