
    .log {
        color: #0f0;
        background-color: #333; 
    }
    table.log {
        font-family: "Lucida Console";
        font-size: 12px;
        color: #0f0;
        border-color: #fff;
        border-width: 1px 0 0 0;
        background-color: #333;
                
        }
    .INFO {
        color: #0f0;
    }
    .DEBUG {
        color: #FFFFFF;
    }
    .WARN {
        color: #F88017;
    }
    .ERROR {
        color: #FF0000;
    }
    .FATAL {
        background-color: #FF0000;
    }
    #logger {
        width: 500px
    }
    .verticalLine {
        border-left: thick solid #ff0000;
    }
