@inherits LayoutComponentBase

<NavMenu />
<BlazoredToasts />
<div class="main">
  <div class="top-row px-4">
    <BreadcrumbNavigation />
    <a href="https://munique.net" target="_blank">About</a>
  </div>

    <div class="content px-4">
        @Body
    </div>
</div>
