@using MUnique.OpenMU.Web.AdminPanel.Localization

@inherits LocalizedLayoutComponentBase

<NavMenu />
<BlazoredToasts />
<div class="main">
  <div class="top-row px-4">
    <BreadcrumbNavigation />
    <LanguageSelector />
    <a href="https://munique.net" target="_blank">@this.Localization["MainLayout_About"]</a>
  </div>

    <div class="content px-4">
        @Body
    </div>
</div>
