@using MUnique.OpenMU.DataModel.Configuration
@using MUnique.OpenMU.Persistence;

<nav>
    <div>
        <a href="">OpenMU</a>
        <button @onclick="ToggleNavMenu">
            <span></span>
        </button>
    </div>

    <!-- Hiding it programmatically is not a good idea here, because we want to hide it based on the width of the device/window. -->
    <div class="@NavMenuCssClass">
        <ul>
            @if (this._isLoadingConfig)
            {
                <li>
                    <NavLink href="" Match="NavLinkMatch.All">
                        <span class="oi oi-clock" aria-hidden="true"></span> Loading ...
                    </NavLink>
                </li>
            }
            else if (this._onlyShowSetup)
            {
                <li>
                    <NavLink href="setup">
                        <span class="oi oi-cog" aria-hidden="true"></span> Setup
                    </NavLink>
                </li>
            }
            else
            {
                <li>
                    <NavLink href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li>
                    <NavLink href="servers">
                        <span class="oi oi-project" aria-hidden="true"></span> Servers
                    </NavLink>
                </li>
                <li>
                  <NavLink href="accounts">
                    <span class="oi oi-list" aria-hidden="true"></span> Accounts
                  </NavLink>
                </li>
                <li>
                  <NavLink href="logged-in">
                    <span class="oi oi-people" aria-hidden="true" /> Online Accounts
                  </NavLink>
                </li>
                @if (this.GameConfigurationId is { } gameConfigurationId )
                {
                    <ConfigNavMenu GameConfigurationId="@gameConfigurationId" />
                }
                <li>
                    <NavLink href="setup">
                        <span class="oi oi-cog" aria-hidden="true"></span> Setup
                    </NavLink>
                </li>
                <li>
                    <NavLink href="config-updates">
                        <span class="oi oi-medical-cross" aria-hidden="true"></span> Updates
                        @if (this._availableConfigUpdates > 0)
                        {
                            <span class="badge badge-light ml-2">@this._availableConfigUpdates</span>
                            <span class="sr-only">available updates</span>
                        }
                    </NavLink>
                </li>
            }
            @if (UserService.IsAvailable)
            {
                <li>
                    <NavLink href="users">
                        <span class="oi oi-key" aria-hidden="true"></span> Users
                    </NavLink>
                </li>
            }
            @if (AdminPanelEnvironment.IsHostingEmbedded)
            {
                <li>
                    <NavLink href="logfiles">
                        <span class="oi oi-list" aria-hidden="true"></span> Log Files
                    </NavLink>
                </li>
            }
            else
            {
                <li>
                    <a href="/grafana/explore?orgId=1&left=%7B%22datasource%22:%22Loki%22,%22queries%22:%5B%7B%22refId%22:%22A%22%7D%5D,%22range%22:%7B%22from%22:%22now-1h%22,%22to%22:%22now%22%7D%7D"
                       target="_blank">
                        <span class="oi oi-list" aria-hidden="true"></span> Log
                    </a>
                </li>
                <li>
                    <a href="/grafana/dashboards"
                       target="_blank">
                        <span class="oi oi-bar-chart" aria-hidden="true"></span> Metrics
                    </a>
                </li>
                <li>
                    <a href="/zipkin/"
                       target="_blank">
                        <span class="oi oi-fork" aria-hidden="true"></span> Tracing
                    </a>
                </li>
            }
        </ul>
    </div>
</nav>
