
.mu-item img {
    position: relative;
    left: -38px;
    top: -42px;
    user-select: none;
}

.mu-item {
    --boxSize: 42px;
    display: block;
    position: absolute;
}

.mu-item-selector {
    z-index: 100;
    
    opacity: 0;
}

    .mu-item-selector:hover {
        background-color: cornflowerblue;
        opacity: 0.333;
    }

    .mu-item-selector.highlighted {
        background-color: greenyellow;
        opacity: 0.333;
    }

.undefined-item {
    height: 100%;
    width: 100%;
    background-color: greenyellow;
}

.mu-item-move-arrow {
    position: absolute;
    z-index: 101;
    background-color: black;
    opacity: 0.7;
}

.mu-item-move-arrow:hover {
    opacity: 0.95;
}

.item-amount-label {
    opacity: 0.9;
    color: wheat;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 1.1em;
}

.indicator {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    position: absolute;
    top: 2px;
    opacity: 0.9;
}

    .indicator.exc {
        background-color: lawngreen;
        left: 2px;
    }

    .indicator.anc {
        background-color: #00A6E2;
        right: 2px;
    }

    .indicator.socket {
        border-color: gold;
        border-style: solid;
        border-width: 2px;
        background-color: gray;
        right: 2px;
    }
        .indicator.socket.equipped {
            background-color: gold;
        }

        .indicator.socket.s1 {
            top: 20px;
        }
        .indicator.socket.s2 {
            top: 32px;
        }

        .indicator.socket.s3 {
            top: 44px;
        }

        .indicator.socket.s4 {
            top: 56px;
        }

        .indicator.socket.s5 {
            top: 68px;
        }

.left {
    left: -24px;
    height: 100%;
    width: 24px;
    background-image: url('/_content/MUnique.OpenMU.Web.ItemEditor/img/light-chevron-left-48.png');
    background-size: 100% 100%;
}

.right {
    right: -24px;
    height: 100%;
    width: 24px;
    background-image: url('/_content/MUnique.OpenMU.Web.ItemEditor/img/light-chevron-right-48.png');
    background-size: 100% 100%;
}

.up {
    top: -24px;
    width: 100%;
    height: 24px;
    background-image: url('/_content/MUnique.OpenMU.Web.ItemEditor/img/light-chevron-up-48.png');
    background-size: 100% 100%;
}

.down {
    bottom: -24px;
    width: 100%;
    height: 24px;
    background-image: url('/_content/MUnique.OpenMU.Web.ItemEditor/img/light-chevron-down-48.png');
    background-size: 100% 100%;
}

.jump {
    background-size: 100% 50%;
}

div.h_1 {
    height: var(--boxSize);
}

div.h_2 {
    height: calc(var(--boxSize) * 2);
}

div.h_3 {
    height: calc(var(--boxSize) * 3);
}

div.h_4 {
    height: calc(var(--boxSize) * 4);
}

div.w_1 {
    width: var(--boxSize);
}

div.w_2 {
    width: calc(var(--boxSize) * 2);
}

div.w_3 {
    width: calc(var(--boxSize) * 3);
}

div.w_4 {
    width: calc(var(--boxSize) * 4);
}

div.w_5 {
    width: calc(var(--boxSize) * 5);
}

div.w_6 {
    width: calc(var(--boxSize) * 6);
}

div.w_7 {
    width: calc(var(--boxSize) * 7);
}

div.w_8 {
    width: calc(var(--boxSize) * 8);
}


div.c_0 {
    left: 0px;
}

div.c_1 {
    left: var(--boxSize);
}

div.c_2 {
    left: calc(var(--boxSize) * 2);
}

div.c_3 {
    left: calc(var(--boxSize) * 3);
}

div.c_4 {
    left: calc(var(--boxSize) * 4);
}

div.c_5 {
    left: calc(var(--boxSize) * 5);
}

div.c_6 {
    left: calc(var(--boxSize) * 6);
}

div.c_7 {
    left: calc(var(--boxSize) * 7);
}

div.c_8 {
    left: calc(var(--boxSize) * 8);
}

div.r_0 {
    top: 0px;
}

div.r_1 {
    top: var(--boxSize);
}

div.r_2 {
    top: calc(var(--boxSize) * 2);
}

div.r_3 {
    top: calc(var(--boxSize) * 3);
}

div.r_4 {
    top: calc(var(--boxSize) * 4);
}

div.r_5 {
    top: calc(var(--boxSize) * 5);
}

div.r_6 {
    top: calc(var(--boxSize) * 6);
}

div.r_7 {
    top: calc(var(--boxSize) * 7);
}

div.r_8 {
    top: calc(var(--boxSize) * 8);
}

div.r_9 {
    top: calc(var(--boxSize) * 9);
}

div.r_10 {
    top: calc(var(--boxSize) * 10);
}

div.r_11 {
    top: calc(var(--boxSize) * 11);
}

div.r_12 {
    top: calc(var(--boxSize) * 12);
}

div.r_13 {
    top: calc(var(--boxSize) * 13);
}

div.r_14 {
    top: calc(var(--boxSize) * 14);
}

div.r_15 {
    top: calc(var(--boxSize) * 15);
}
