@page "/users"

@using MUnique.OpenMU.Web.Shared.Services

@inject IUserService UserService;

<PageTitle>OpenMU: Usuarios Admin</PageTitle>
<Breadcrumb IsFirstFromRoot="true" Caption="Usuarios Admin"/>
<h1>Usuarios Admin</h1>

<div>
    <table>
        <thead>
        <th class="col-10">Usuario</th>
        <th class="col-1">Acciones</th>
        <th class="col-1"></th>
        </thead>
        <tbody>
        @{ var users = this.UserService.Users; }
        @foreach (var user in users)
        {
            <tr>
                <td>@user</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary" @onclick="async () => await this.UserService.ChangePasswordInModalDialogAsync(user)">Cambiar contraseña</button>
                </td>
                <td>
                    @if (users.Count > 1)
                    {
                        <button type="button" class="btn btn-sm btn-danger" @onclick="async () => await this.UserService.DeleteUserAsync(user)">Eliminar</button>
                    }
                </td>
            </tr>
        }
        </tbody>
        
        <tfoot>
            <td><button type="button" class="btn btn-sm btn-success" @onclick="@this.UserService.CreateNewInModalDialogAsync">Crear Usuario</button></td>
            <td></td>
            <td></td>
        </tfoot>
    </table>
</div>
