@page "/create-connect-server"

@using MUnique.OpenMU.Web.AdminPanel.Properties
@{
  var title = Resources.CreateConnectServer;
}
<PageTitle>OpenMU: @title</PageTitle>
<Breadcrumb Caption="@title"/>
<h1>@title</h1>


@if (this._viewModel is null)
{
    return;
}

<AutoForm Model="this._viewModel" OnValidSubmit="this.OnSaveButtonClickAsync" IsProcessing="this._isProcessing"></AutoForm>

