@page "/create-game-server"

@using MUnique.OpenMU.Persistence

<PageTitle>OpenMU: Crear Game Server</PageTitle>
<Breadcrumb Caption="Crear Game Server"/>
<h1>Crear Definición de Game Server</h1>


@if (this._viewModel is null)
{
    <span class="spinner-border" role="status" aria-hidden="true"></span>
    <span class="sr-only">Cargando...</span>
    return;
}

@if (this._initState is { })
{
  <span class="spinner-border" role="status" aria-hidden="true"></span>
  <span class="sr-only">@this._initState</span>
  return;
}


<AutoForm Model="this._viewModel" OnValidSubmit="this.OnSaveButtonClickAsync"></AutoForm>

