@page "/error"

<PageTitle>Error</PageTitle>
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ocurrió un error al procesar tu solicitud.</h2>

<h3>Modo de Desarrollo</h3>
<p>
    Cambiar al entorno <strong>Development</strong> mostrará más información detallada sobre el error ocurrido.
    <br />
    <strong>El entorno Development no debe estar habilitado en producción.</strong>
    Podría exponer información sensible de las excepciones a los usuarios.
    Para depuración local, habilita el entorno <strong>Development</strong> estableciendo la variable de entorno <strong>ASPNETCORE_ENVIRONMENT</strong> en <strong>Development</strong>
    y reiniciando la aplicación.
.</p>
