@page "/"

<h1>Panel de Administración OpenMU</h1>
<PageTitle>Panel de Administración OpenMU</PageTitle>
<Breadcrumb IsFirstFromRoot="true" Caption="Inicio"/>

Bienvenido al panel de administración de OpenMU.
