@page "/"

@using MUnique.OpenMU.Web.AdminPanel.Properties

<h1>@Resources.OpenMUAdminPanel</h1>
<PageTitle>@Resources.OpenMUAdminPanel</PageTitle>
<Breadcrumb IsFirstFromRoot="true" Caption="Home"/>

@Resources.WelcomeMessage
