@page "/logged-in"
@using MUnique.OpenMU.Web.AdminPanel.Services

@inject LoggedInAccountService AccountService;

<PageTitle>OpenMU: Online Accounts</PageTitle>
<Breadcrumb IsFirstFromRoot="true" Caption="Online Accounts"/>
<h1>Online Accounts</h1>

<div>
  <DataTable TItem=@LoggedInAccount>
    <TableHeader>
      <th class="col-1">Login Name</th>
      <th class="col-1">Server-ID</th>
      <th class="col-1">Actions</th>
    </TableHeader>
    <ItemTemplate Context="item">
      <td>@item.LoginName</td>
      <td>@item.Server</td>
      <td>
        <button class="btn btn-warning" type="button" @onclick="() => this.AccountService.SetAccountOfflineAsync(item)">
          <span class="oi oi-bolt" aria-hidden="true" /> Disconnect
        </button>
      </td>
    </ItemTemplate>
  </DataTable>
</div>
