@page "/setup"

<PageTitle>OpenMU: Configuración</PageTitle>
<Breadcrumb IsFirstFromRoot="true" Caption="Configuración"/>

@if (this.ShowInstall)
{
    <Install InstallationFinished="() => this.ShowInstall = false" />
}
else if (!this.SetupService.CanConnectToDatabase)
{
    <p>Estado de la base de datos: <span class="badge bg-danger">No se puede conectar a la base de datos. Probablemente aún no fue creada.</span></p>

    <button class="btn btn-primary" @onclick="this.OnInstallClick">Crear</button>
}
else if (!this.SetupService.IsInstalled)
{
    <p>Estado de la base de datos: <span class="badge bg-warning text-dark">No creada</span></p>

    <button class="btn btn-primary" @onclick="this.OnInstallClick">Crear</button>
}
else if (this.SetupService.IsUpdateRequired)
{
    <p>Estado de la base de datos: <span class="badge bg-warning text-dark">Se requiere actualización</span></p>
    <button class="btn btn-primary" @onclick="this.OnUpdateClickAsync">Actualizar</button>
}
else
{
    <p>Estado de la base de datos: <span class="badge bg-success">Actualizada</span></p>
    @if (!this._isDataInitialized)
    {
        <p>Versión de juego inicializada: <span class="badge bg-warning text-dark">¡No se encontraron datos inicializados!</span></p>
    }
    else
    {
        <p>Versión de juego inicializada: <span class="badge bg-success">@this._gameClientVersion</span></p>
    }

    <button class="btn bg-warning text-dark" @onclick="this.OnReInstallClickAsync">Reinstalar</button>
}
