@using MUnique.OpenMU.Web.Shared.Services
@inject LoadingOverlayService LoadingService
@implements IDisposable

@if (this.LoadingService.IsVisible)
{
    <div class="loading-overlay">
        <div class="loading-overlay-backdrop"></div>
        <div class="loading-overlay-content">
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">@Resources.Loading</span>
            </div>
        </div>
    </div>
}

@code {
    /// <inheritdoc />
    protected override void OnInitialized()
    {
        this.LoadingService.StateChanged += this.OnStateChanged;
    }

    private void OnStateChanged()
    {
        this.InvokeAsync(this.StateHasChanged);
    }

    /// <inheritdoc />
    public void Dispose()
    {
        this.LoadingService.StateChanged -= this.OnStateChanged;
    }
}
