services:

  openmu-startup:
    image: openmu-local:dev
    build:
      context: ../../src
      dockerfile: Startup/Dockerfile
    pull_policy: never
    restart: "no"
    environment:
      # Para pruebas en red local, anunciar IP local a los clientes.
      # Cambiar a "public" si van a conectarse desde Internet.
      RESOLVE_IP: local
      MU_XOR32_097: "AB 11 CD FE 18 23 C5 A3 CA 33 C1 CC 66 67 21 F3 32 12 15 35 29 FF FE 1D 44 EF CD 41 26 3C 4E 4D"
      Logging__LogLevel__Default: Debug
      Logging__LogLevel__MUnique: Debug
      Logging__LogLevel__MUnique.OpenMU.ConnectServer: Debug
      Logging__LogLevel__MUnique.OpenMU.GameServer: Debug
      Logging__LogLevel__MUnique.OpenMU.Network: Debug
      Serilog__MinimumLevel__Default: Debug
      Serilog__MinimumLevel__Override__MUnique: Debug
      Serilog__MinimumLevel__Override__MUnique.OpenMU.ConnectServer: Debug
      Serilog__MinimumLevel__Override__MUnique.OpenMU.GameServer: Debug
      Serilog__MinimumLevel__Override__MUnique.OpenMU.Network: Debug

  database:
    ports:
      - "5433:5432"
