@using log4net.Core
@using MUnique.OpenMU.AdminPanel.Services

@inject LogService _logService;

<div class="log-notifications">
    @if (this._showWarning)
    {
        <span class="oi oi-warning"></span>
    }

    @if (this._showError)
    {
        <span class="oi oi-fire"></span>
    }
</div>

@code {
    private bool _showWarning;
    private bool _showError;

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await this._logService.Initialization;
        this._logService.LogEventReceived += this.OnLogEventReceived;
    }

    private void OnLogEventReceived(object? sender, LogEntryReceivedEventArgs e)
    {
        if (!this._showError && e.Data.Level.Value == Level.Error.Value)
        {
            this._showError = true;
            this.InvokeAsync(this.StateHasChanged);
        }

        if (this._showWarning && e.Data.Level.Value == Level.Warn.Value)
        {
            this._showWarning = true;
            this.InvokeAsync(this.StateHasChanged);
        }
    }
}
