.log {
    color: #0f0;
    background-color: #333;
}

.log table {
    font-family: "Lucida Console";
    font-size: 12px;
    color: #0f0;
    border-color: #fff;
    border-width: 1px 0 0 0;
    background-color: #333;
}

.log tr.INFO {
    color: #0f0;
}

.log tr.DEBUG {
    color: #FFFFFF;
}

.log tr.WARN {
    color: #F88017;
}

.log tr.ERROR {
    color: #FF0000;
}

.log tr.FATAL {
    background-color: #FF0000;
}

#logger {
    width: 500px
}

.verticalLine {
    border-left: thick solid #ff0000;
}

div.log-notifications {
    position: relative;
    left: 20px;
}

.log-notifications .oi-fire {
    color: orangered;
}

.log-notifications .oi-warning {
    color: orange;
}