@import "bootstrap-4.4.1/scss/bootstrap";
@import "../wwwroot/css/open-iconic/font/css/open-iconic-bootstrap.min.css";

@import "Navigation";

@import "Main";

@import "Forms";

@import "Tables";

@import "Common";

@import "Log";

@import "Map";